django==2.1
django-tenants==3.3.2 # Neccessary for Django schema/tenant seperation
djangorestframework==3.8.2
requests
psycopg2==2.8.6
cerberus
postgres
docker
tapipy
uWSGI
ipython
jedi==0.17.2 # was required to get past issues with ipython in the manage.py shell; see: